<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block titulo %}ResQare{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .navbar-custom {
      background-color: #1A428A;
    }
    .navbar-nav img {
      max-width: 50px;  /* Limita el ancho máximo de la imagen */
      height: auto;     /* Mantiene la proporción de la imagen */
    }
    .center-image {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;  /* Ocupa toda la altura de la ventana */
    }
    .center-image img {
      max-width: 100%;  /* Asegura que la imagen no se estire */
      height: auto;     /* Mantiene la proporción de la imagen */
    }
  </style>
  {% block head %}{% endblock %}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ResQare</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'perfil' %}">
                {{ user.username }}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'inicio' %}" aria-current="page">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'tikcet' %}">Ticket</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'preguntas' %}" aria-current="page">Preguntas</a>
            </li>
            {% if user_profile.rol_id == 1 %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'graficas' %}">Gráficas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'listar_equipos' %}">Ver Equipos</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Generar Enlace de Registro
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'generar_enlace_registro' 'Administrador' %}">Administrador</a>
                    <a class="dropdown-item" href="{% url 'generar_enlace_registro' 'Cliente' %}">Cliente</a>
                    <a class="dropdown-item" href="{% url 'generar_enlace_registro' 'Técnico' %}">Técnico</a>
                </div>
              </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
            </li>
          {% endif %}
          {% if not user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">
                <img src="/static/images/Recurso 2@4x.png" alt="Imagen"> Iniciar Sesión</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="container mt-4">
    {% block contenido %}{% endblock %}
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
