{% extends "base.html" %}
{% block titulo %}login{% endblock %}
{% block contenido %}
    <div class="contenedor-principal" id="contenedor-principal"> 
        <!-- Contenedor principal con los tickets -->
        <main class="main-principal" id="main-principal">
            <br>

            <!-- Encabezado del formulario con el título y la información del usuario -->
            <header id="header" class="header">
                <h1>Crear ticket</h1>
                <br>
                <div class="informacion-usuario">
                    <span>Usuario: <strong>{{ user.username }}</strong></span>
                </div>
            </header>
            <br><br>

            <!-- Formulario para la creación de tickets, que se envía al servidor mediante POST -->
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}  <!-- Renderiza los campos del formulario -->
                {% if messages %}
                <div>
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
            
                <button type="submit">Crear Ticket</button>
            </form>
            
            
        </main>
    </div>
{% endblock %}