{% extends "base.html" %}
{% block titulo %}Detalle del Problema{% endblock %}
{% block contenido %}
<div class="container mt-4">
    <h1 class="mb-4">Detalle del Problema</h1>
    <div class="card">
        <div class="card-header">
            <h2>{{ problema.titulo }}</h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">Descripción</h5>
            <p class="card-text">{{ problema.descripcion }}</p>
            <h5 class="card-title">Solución</h5>
            <p class="card-text">{{ problema.solucion }}</p>
            <h5 class="card-title">Calificación Promedio</h5>
            <p class="card-text">
                <div class="star-rating">
                    {% for i in "12345" %}
                        <span class="star {% if i <= problema.promedio_calificacion|stringformat:"i" %}filled{% endif %}">&#9733;</span>
                    {% endfor %}
                </div>
            </p>
            
            {% if user.is_authenticated and user_profile.rol.nombre != 'Administrador' %}
                {% if not calificacion_usuario %}
                    <h5 class="card-title">Calificar este Problema</h5>
                    <form method="post">
                        {% csrf_token %}
                        <div class="star-rating">
                            {% for i in "12345" %}
                                <input type="radio" id="star{{ i }}" name="calificacion" value="{{ i }}">
                                <label for="star{{ i }}" title="{{ i }} estrellas">&#9733;</label>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-primary mt-2">Enviar Calificación</button>
                    </form>
                    
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

<style>
    .star-rating {
        display: inline-block;
        font-size: 1.5em;
        color: #f8f417;
    }
    .star-rating .star {
        cursor: default;
    }
    .star-rating .star.filled {
        color: #f5b301;
    }
    .star-rating input[type="radio"] {
        display: none;
    }
    .star-rating label {
        color: #ddad0e;
        cursor: pointer;
        font-size: 2em;
    }
    /* Cambia el color de las estrellas seleccionadas y anteriores */
    .star-rating input[type="radio"]:checked ~ label {
        color: #cef00d;
    }
    .star-rating input[type="radio"]:checked + label,
    .star-rating input[type="radio"]:checked + label ~ label {
        color: #f7cc58;
    }
    /* Cuando se pasa el ratón, cambia las estrellas anteriores también */
    .star-rating label:hover,
    .star-rating label:hover ~ label {
        color: #dda200;
    }
</style>

{% endblock %}