{% extends "base.html" %}

{% block titulo %}Inicio{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="mb-0">Historial de Tickets</h1>
    </div>
    <div class="contenedor-buscar mb-4">
        <form method="get" action="{% url 'all' %}">
            <div class="input-group">
                <input type="text" name="buscar" placeholder="Buscar ticket..." class="form-control">
                <button type="submit" class="btn btn-secondary">Buscar</button>
            </div>
        </form>
    </div>
    <ul class="nav nav-pills mb-4">
        {% if user_profile.rol_id == 1 or user_profile.rol_id == 3 %}
            <li class="nav-item">
                <a class="nav-link text-decoration-none text-dark" href="{% url 'categoria' %}">Crear Categoría</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link text-decoration-none text-dark" href="{% url 'inicio' %}">Tickets Resueltos</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-decoration-none text-dark" href="{% url 'all' %}">Todos los Tickets</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-decoration-none text-dark" href="{% url 'todo' %}">Tickets en Progreso</a>
        </li>
    </ul>
    {% if tickets_proximos_a_vencer %}
            <div class="alert alert-warning">
                <h4>Tickets próximos a vencer:</h4>
                <ul>
                    {% for ticket in tickets_proximos_a_vencer %}
                        <li>
                            <strong>{{ ticket.titulo }}</strong> - Vencimiento: {{ ticket.fecha_resolucion }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <!-- Cambiar la clase thead-dark a thead-blue -->
            <thead class="thead-blue">
                <tr>
                    <th>Encargado</th>
                    <th>ID Ticket</th>
                    <th>Problema</th>
                    <th>Prioridad</th>
                    <th>Estado</th>
                    <th>Fecha de Creación</th>
                    <th>Fecha de Solución</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                    <tr>
                        {% if ticket.encargado %}
                            <td>{{ ticket.encargado }}</td>
                        {% else %}
                            <td>No asignado</td>
                        {% endif %}
                        <td>{{ ticket.id_ticket }}</td>
                        <td><a class="text-decoration-none text-dark" href="{% url 'ticket_detail' ticket.id_ticket %}">{{ ticket.titulo }}</a></td>
                        <td>{{ ticket.prioridad }}</td>
                        <td>{{ ticket.get_estado_display }}</td>
                        <td>{{ ticket.fecha_creacion }}</td>
                        {% if ticket.fecha_resolucion %}
                            <td>{{ ticket.fecha_resolucion }}</td>
                        {% else %}
                            <td>Sin fecha</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f9;
        margin: 0;
        padding: 0;
    }

    .container {
        margin-top: 20px;
    }

    h1 {
        font-size: 2em;
        margin-bottom: 20px;
    }

    .table {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .table th, .table td {
        vertical-align: middle;
    }

    .btn {
        font-size: 1em;
    }

    .text-dark {
        color: #343a40 !important;
    }

    .text-decoration-none {
        text-decoration: none !important;
    }

    .text-decoration-none:hover {
        text-decoration: underline !important;
    }

    /* Cambios para el color de la tabla azul */
    .thead-blue {
        background-color: #1A428A;
        color: white;
    }

    .thead-blue th {
        color: white;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f2f7fc; /* Fondo azul claro para filas impares */
    }

    .table-hover tbody tr:hover {
        background-color: #d6e4f1; /* Fondo azul más claro al pasar el ratón */
    }
</style>
{% endblock %}
