{% extends "base.html" %}
{% block titulo %}Detalle del Ticket{% endblock %}
{% block contenido %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Detalle del Ticket</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-header bg-dark text-white">
                    Información del Ticket
                </div>
                <div class="card-body">
                    <h5 class="card-title">Título</h5>
                    <p class="card-text">{{ ticket.titulo }}</p>
                    <h5 class="card-title">Descripción</h5>
                    <p class="card-text">{{ ticket.descripcion }}</p>
                    <h5 class="card-title">Prioridad</h5>
                    <p class="card-text">{{ ticket.get_prioridad_display }}</p>
                    <h5 class="card-title">Estado</h5>
                    <p class="card-text">{{ ticket.get_estado_display }}</p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="card-title">Fecha de Creación</h5>
                            <p class="card-text">{{ ticket.fecha_creacion }}</p>
                        </div>
                        <div class="col-md-6">
                            <h5 class="card-title">Fecha de Solución</h5>
                            {% if ticket.fecha_resolucion %}
                            <p class="card-text">{{ ticket.fecha_resolucion }}</p>
                        {% else %}
                            <p class="card-text">No hay fecha</p>
                        {% endif %}
                        </div>
                    </div>
                    <h5 class="card-title">Equipo</h5>
                    <p class="card-text">{{ ticket.equipo }}</p>
                    <h5 class="card-title">Usuario</h5>
                    <p class="card-text">{{ ticket.usuario }}</p>
                    <h5 class="card-title">Encargado</h5>
                    {% if ticket.encargado %}
                            <p class="card-text">{{ ticket.encargado }}</p>
                        {% else %}
                            <p class="card-text">No hay encargado</p>
                        {% endif %}
                    <h5 class="card-title">Categoría</h5>
                    <p class="card-text">{{ ticket.categoria }}</p>
                    <h5 class="card-title">Comentarios</h5>
                    {% if ticket.comentario %}
                            <p class="card-text">{{ ticket.comentario }}</p>
                        {% else %}
                            <p class="card-text">No hay comentarios</p>
                        {% endif %}
                    <h5 class="card-title">Archivo Adjunto</h5>
                    <p class="card-text">
                        {% if ticket.archivo %}
                            <a href="{{ ticket.archivo.url }}" class="btn btn-info" download>Descargar Archivo</a>
                        {% else %}
                            No hay archivo adjunto
                        {% endif %}
                    </p>
                    <h5 class="card-title">Calificación</h5>
                    <p class="card-text">
                        {% if ticket.calificacion %}
                            <div class="star-rating">
                                {% for i in estrellas %}
                                    <span class="star {% if i <= ticket.calificacion %}filled{% endif %}">&#9733;</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            No calificado
                        {% endif %}
                    </p>
                    <h5 class="card-title">Historial de Técnicos</h5>
                    <ul class="list-group">
                        {% for historial_item in historial %}
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <strong>Técnico:</strong> {{ historial_item.tecnico.user.username }} <br>
                                        <strong>Fecha de cambio:</strong> {{ historial_item.fecha_cambio|date:"d/m/Y H:i" }} <br>
                                        {% if historial_item.motivo %}
                                            <strong>Motivo:</strong> {{ historial_item.motivo }}
                                        {% else %}
                                            <strong>Motivo:</strong> Revision
                                            {% endif %}
                                    </div>
                                    <div class="text-end">
                                        <span class="badge bg-primary">{{ historial_item.tecnico.user.username }}</span>
                                    </div>
                                </div>
                            </li>
                        {% empty %}
                            <li class="list-group-item">No hay historial disponible.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="d-flex justify-content-between mt-4">
                <a href="{% url 'inicio' %}" class="btn btn-secondary">Volver</a>
                
                {% if user_profile.rol.nombre == 'Administrador' or user_profile.rol.nombre == 'Técnico' %}
                    <a href="{% url 'editar_ticket' ticket.id_ticket %}" class="btn btn-primary">Editar</a>
                {% endif %}
                
                {% if user_profile.rol.nombre == 'Administrador' %}
                    <form method="post" action="{% url 'eliminar_ticket' ticket.id_ticket %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                {% endif %}
                <a href="{% url 'descargar_ticket' ticket.id_ticket %}" class="btn btn-success">Descargar Ticket</a>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f9;
        margin: 0;
        padding: 0;
    }

    .container {
        margin-top: 20px;
    }

    h1 {
        font-size: 2em;
        margin-bottom: 20px;
    }

    .card {
        margin-bottom: 20px;
    }

    .card-body {
        padding: 20px;
    }

    .btn {
        font-size: 1em;
    }

    .star-rating {
        display: inline-block;
        font-size: 1.5em;
        color: #eee56c;
    }

    .star-rating .star {
        cursor: default;
    }

    .star-rating .star.filled {
        color: #cf9500;
    }
</style>
{% endblock %}